.card{
    border: none;
    border-radius: 5%;
}

.card-img-top{
    width: 50px;
    
}

.card-img-top2{
    width:40px;
}

.card-body{
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.img-body{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.car{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.btn{
    border: 3px solid white;
    
}

.btn-bottom{
    border: 2px solid black;
}

.btn-end{
    border: none;
    background-color: #7fd125;
    color: white;
}

.btn-end-2{
    color: #0851f8;
}